Repository EnergieID/energyid-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-export-prod, poetry-export-dev, clear-notebooks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.6
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py311-plus]

  - repo: local
    hooks:
      - id: poetry-export-prod
        name: Poetry export production requirements
        entry: poetry export -f requirements.txt --output requirements.txt --without-hashes
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|poetry\.lock)$
      - id: poetry-export-dev
        name: Poetry export development requirements
        entry: poetry export -f requirements.txt --output requirements-dev.txt --without-hashes --only dev
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|poetry\.lock)$
      - id: clear-notebooks
        name: Clear Jupyter Notebook outputs
        entry: jupyter nbconvert --clear-output --inplace
        additional_dependencies: [jupyter, nbconvert]
        language: python
        pass_filenames: true
        files: \.ipynb$

Refactor Demo notebook to update credential keys and enhance data retrieval date range
  Demo.ipynb
Due: clear-notebooks

Remove publish.yaml configuration for wrong PyPI deployment
  .github/publish.yaml
Due: none

update group get records call
  Demo.ipynb
  energyid/client.py
  energyid/misc.py
  energyid/models.py
Due: clear-notebooks

update demo
  Demo.ipynb
Due: clear-notebooks

async implementation
  Demo Async.ipynb
  energyid/__init__.py
  energyid/aio/__init__.py
  energyid/aio/client.py
  energyid/aio/models.py
  energyid/pandasclient.py
Due: clear-notebooks

aio group functionality
  energyid/aio/client.py
  energyid/aio/misc.py
  energyid/aio/models.py
Due: none

uv setup
  .pre-commit-config.yaml
  Demo Async.ipynb
  Demo.ipynb
  Demo_webhook.ipynb
  demo_credentials.yaml
  demo_secrets.json
  deploy_to_pypi.sh
  manifest.in
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  setup.cfg
  setup.py
  src/energyid/__init__.py
  src/energyid/aio/__init__.py
  src/energyid/aio/client.py
  src/energyid/aio/misc.py
  src/energyid/aio/models.py
  src/energyid/client.py
  src/energyid/misc.py
  src/energyid/models.py
  src/energyid/pandasclient.py
  src/energyid/webhooks/__init__.py
  uv.lock
Due: poetry-export-prod, poetry-export-dev, clear-notebooks

get record and extend info
  Demo.ipynb
  src/energyid/aio/models.py
Due: clear-notebooks

record definitions aio
  pyproject.toml
  src/energyid/aio/client.py
Due: poetry-export-prod, poetry-export-dev

v1.0.0: Full API client revamp — 60+ endpoints, 3 auth methods, async mirror, 177 tests
  .gitignore
  Demo Async.ipynb
  Demo.ipynb
  Demo_webhook.ipynb
  README.md
  add_records.ipynb
  demo_secrets.json
  export-full-archive.py
  export_all_from_user.ipynb
  locustfile.py
  pyproject.toml
  requirements.txt
  src/energyid/__init__.py
  src/energyid/aio/client.py
  src/energyid/aio/models.py
  src/energyid/client.py
  src/energyid/misc.py
  src/energyid/models.py
  src/energyid/webhooks/__init__.py
  tests/__init__.py
  tests/test_aio_client.py
  tests/test_client.py
  tests/test_models.py
  tests/test_pandasclient.py
  updated_flow.ipynb
  uv.lock
Due: poetry-export-prod, poetry-export-dev, clear-notebooks

refactor!: switch to async-only client, split API into modular async endpoints, add built-in rate limiting, and update demos/tests for auth/no-content handling
  Demo.ipynb
  README.md
  pyproject.toml
  requirements.txt
  src/energyid/__init__.py
  src/energyid/aio/__init__.py
  src/energyid/aio/client.py
  src/energyid/aio/clients/__init__.py
  src/energyid/aio/clients/base.py
  src/energyid/aio/clients/data_helpers.py
  src/energyid/aio/clients/endpoints/__init__.py
  src/energyid/aio/clients/endpoints/catalogs.py
  src/energyid/aio/clients/endpoints/groups.py
  src/energyid/aio/clients/endpoints/members.py
  src/energyid/aio/clients/endpoints/meters.py
  src/energyid/aio/clients/endpoints/organizations.py
  src/energyid/aio/clients/endpoints/records.py
  src/energyid/aio/clients/endpoints/search.py
  src/energyid/aio/clients/endpoints/transfers.py
  src/energyid/aio/clients/json.py
  src/energyid/aio/clients/pandas.py
  src/energyid/aio/clients/rate_limit.py
  src/energyid/client.py
  src/energyid/models.py
  src/energyid/pandasclient.py
  src/energyid/scope.py
  tests/test_aio_client.py
  tests/test_client.py
  tests/test_models.py
  tests/test_pandasclient.py
  uv.lock
Due: poetry-export-prod, poetry-export-dev, clear-notebooks

fix:small fix to rate limiting
  src/energyid/aio/clients/rate_limit.py
  tests/test_aio_client.py
Due: none

fix: update package name to match installation instructions
  README.md
  pyproject.toml
  requirements.txt
  uv.lock
Due: poetry-export-prod, poetry-export-dev
